@import './../../variables.scss';

.market_wrap {
    --contrast-color: #fff;
    --button-color: #0cc63b;
    padding-top: 100px;
    position: relative;

    &[tabSelected='BSC'] {
        --contrast-color: #000;
        --button-color: #5856d6;
        &:after {
            opacity: 1;
        }
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        min-height: 100vh;
        z-index: 0;
        background: linear-gradient(
            180deg,
            #f2cd31 0%,
            #ffd936 47.4%,
            #faecb2 100%
        );
        opacity: 0;
        transition: opacity 0.4s;
        pointer-events: none;
    }

    &:before {
        pointer-events: none;
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        min-height: 100vh;
        z-index: 0;
        background: linear-gradient(180deg, #5ac8fa 0%, #5856d6 100%);
        transition: all 0.4s;
    }

    & > * {
        z-index: 1;
        position: relative;
    }
    .content_intel_color {
        color: var(--contrast-color);
        transition: color 0.4s;
        font-size: 12px;
        font-weight: 600;
    }
    header {
        // overflow: hidden;
        z-index: 999;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px -10px 30px #333;

        .container {
            padding: 0;
            @include flex-row();
            justify-content: space-between;
            padding: 15px 0;
            font-weight: 700;
            position: relative;

            .item {
                &.home_link {
                    z-index: 10;
                }
                &.counter {
                    flex: 1;
                    @include flex-row();
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;

                    span {
                        color: #f03b3b;
                        font-weight: 400;
                        font-size: 18px;
                        margin-left: 10px;
                    }
                }
                &.links_inside {
                    @include flex-row();
                    z-index: 9;

                    .link {
                        cursor: pointer;
                        margin-left: 15px;
                        position: relative;

                        .tooltip {
                            position: absolute;
                            width: 179px;
                            background: rgba(0, 0, 0, 0.8);
                            border-radius: 8px;
                            text-align: center;
                            letter-spacing: -0.097561px;
                            font-size: 13px;
                            color: #ffffff;
                            font-weight: normal;
                            padding: 20px 10px;
                            top: 30px;
                            transform: translate(0, 10px);
                            transition: all 0.4s;
                            opacity: 0;

                            &.active {
                                opacity: 1;
                                transform: translate(0);
                            }
                        }
                    }
                }
            }
        }
    }

    .charts_wrap {
        padding-bottom: 90px;
        .container {
            padding: 0;

            .top_contents_wrap {
                .wallet {
                    background: #ff2d55;
                    border-radius: 5px;
                    padding: 6px 30px;
                    color: #fff;
                    float: right;
                    font-size: 12px;
                }
                .tab_wrap {
                    width: 100%;
                    @include flex-row();

                    button {
                        border: 1px solid var(--contrast-color);
                        background-color: transparent;
                        border-radius: 5px;
                        color: var(--contrast-color);
                        padding: 6px 30px;
                        // margin: 0 5px;
                        transition: all 0.4s;
                        cursor: pointer;
                        font-weight: 700;
                        font-size: 15px;
                        outline: none;

                        &:first-child {
                            border-top-right-radius: 0px;
                            border-bottom-right-radius: 0px;
                        }
                        &:last-child {
                            border-top-left-radius: 0px;
                            border-bottom-left-radius: 0px;
                        }

                        &.active {
                            background: rgba(0, 0, 0, 0.4);
                            color: #fff;
                        }
                    }
                }
            }
            .content_box_wrap {
                width: 100%;
                @include flex-row();
                justify-content: space-between;
                align-items: stretch;

                .left_wrap {
                    width: calc(70% - 20px);
                    min-height: 400px;

                    .content_box {
                        height: 100%;
                        @include flex-column();
                        justify-content: space-between;
                        padding-bottom: 0;

                        .top_details {
                            @include flex-row();
                            width: 100%;
                            justify-content: space-between;
                            font-weight: 700;
                            font-size: 20px;

                            .left_wrap_1 {
                                @include flex-column();
                                align-items: flex-start;
                                justify-content: flex-start;

                                .crypto_type {
                                    @include flex-row();
                                    font-size: 14px;

                                    img {
                                        width: 35px;
                                    }
                                }

                                .value {
                                    font-size: 30px;
                                }
                            }
                        }

                        .chart_wrap {
                            width: 100%;
                        }
                    }

                    .buttons_wrap {
                        @include flex-row();
                        margin-top: 20px;
                        float: left;
                        width: 100%;

                        button {
                            border: 1px solid var(--contrast-color);
                            background-color: transparent;
                            border-radius: 5px;
                            color: var(--contrast-color);
                            padding: 6px 22px;
                            margin: 0 5px;
                            transition: all 0.4s;
                            cursor: pointer;
                            font-weight: 700;

                            &.active {
                                background: rgba(0, 0, 0, 0.4);
                                color: #fff;
                            }
                        }
                    }
                }

                .right_wrap {
                    width: calc(30% - 20px);
                    .content_box {
                        height: 100%;
                    }
                }
            }
        }
    }

    .data_table_wrap {
        margin-bottom: 40px;
        .flexed_cont {
            padding: 0;
            @include flex-row();
            justify-content: space-between;
            align-items: stretch;

            .left_wrap {
                width: calc(40% - 20px);

                .content_box {
                    height: 100%;
                }
            }

            .right_wrap {
                width: calc(60% - 20px);
            }
        }
    }
}

.prediction_wrap {
    @include flex-column();
    height: 100%;
    padding: 0;
    font-size: 14px;
    font-weight: bold;

    .header {
        height: 60px;
        @include flex-row();
        justify-content: space-between;
        width: 100%;
        padding: 0 40px;
    }

    .tab_wrap {
        width: 100%;
        height: 50px;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        @include flex-row();
        justify-content: space-around;

        .tab {
            transition: background 0.4s, color 0.4s;
            width: 100%;
            height: 100%;
            @include flex-row();
            cursor: pointer;

            &.active {
                background: var(--button-color);
                color: #fff;
            }
        }
    }

    .body {
        flex: 1;
        @include flex-column();

        .text_box {
            background: #e3e3e3;
            border-radius: 3px;
            padding: 5px 20px;
            margin-left: 40px;
            color: rgba(192, 192, 192, 1);
        }

        button {
            background: var(--button-color);
            border-radius: 5px;
            padding: 20px 40px;
            font-size: 14px;
            color: #fff;
            font-weight: bold;
            border: none;
            margin-top: 50px;
            cursor: pointer;
            transition: background 0.4s;
        }
    }

    .footer {
        color: rgba(192, 192, 192, 1);
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        @include flex-row();
        height: 60px;
        justify-content: space-between;
        padding: 0 10px;
    }
}

.trade_wrap {
    padding: 0;
    @include flex-column();
    font-size: 14px;

    .header {
        flex: 1;
        width: 100%;
        @include flex-column();
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
        font-weight: bold;

        .value {
            margin-top: 10px;
            font-size: 30px;
        }

        .crypto_value {
            font-size: 10px;
            font-weight: normal;
            color: #c0c0c0;
            margin-top: 5px;
        }
    }
    .body {
        width: 100%;

        .item {
            width: 100%;
            border-top: 1px solid rgba(0, 0, 0, 0.2);
            padding: 15px 20px;
            @include flex-row();
            justify-content: space-between;
            font-weight: bold;

            .key {
                .sub {
                    letter-spacing: -0.097561px;
                    font-size: 10px;
                    color: #c0c0c0;
                }
            }
        }
    }
}

.value_wrap {
    float: right;
    font-size: 10px;
    color: #f03b3b;
    @include flex-row();
    margin-left: 5px;

    svg {
        transform: scale(0.6);

        path {
            fill: #f03b3b;
        }
    }

    &.green {
        color: #26bd62;

        svg {
            transform: rotate(180deg) scale(0.6);

            path {
                fill: #26bd62;
            }
        }
    }
}

@media only screen and (max-width: $breakpoint-xs) {
    .market_wrap {
        padding: 0 20px;

        .content_intel_color {
            text-align: center;
        }

        header {
            .container {
                padding-left: 10px;
                padding-right: 10px;
                flex-wrap: wrap;

                .item {
                    font-size: 14px;

                    &.home_link {
                        order: 1;
                    }
                    &.counter {
                        position: relative;
                        text-align: right;
                        @include flex-row();
                        // align-items: flex-end;
                        min-width: 100%;
                        order: 3;
                        margin-top: 5px;

                        span {
                            // margin: 0;
                        }
                    }
                    &.links_inside {
                        align-items: flex-end;
                        max-width: 30%;
                        text-align: right;
                        max-width: 80%;
                        order: 2;

                        .link {
                            margin-bottom: 5px;

                            .tooltip {
                                right: 0;
                                top: 40px;
                            }
                        }
                    }
                }
            }
        }

        .charts_wrap {
            padding-top: 130px;
            padding-bottom: 0px;

            .container {
                .content_box_wrap {
                    .left_wrap {
                        .top_details {
                            .right_wrap_1 {
                                text-align: right;
                            }
                        }
                    }
                    .right_wrap {
                        margin-top: 60px;
                    }
                }

                .wallet {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 15px;
                }

                .tab_wrap {
                    align-items: stretch !important;

                    .tab {
                        padding: 6px 15px !important;
                    }
                }
            }
        }
        .data_table_wrap {
            .container {
                flex-wrap: wrap;

                .content_intel_color {
                    color: #000;
                }
            }
        }

        .content_box_wrap {
            flex-wrap: wrap;
        }

        .left_wrap,
        .right_wrap {
            width: 100% !important;
            margin-bottom: 15px;
        }
    }

    .trade_wrap {
        .body {
            .item {
                .value {
                    @include flex-column();
                    justify-content: flex-end;
                    align-items: flex-end;
                }
            }
        }
    }

    .prediction_wrap {
        min-height: 400px;
    }
}
