@import './variables.scss';

* {
    box-sizing: border-box;
}

h1 {
    margin: 20px 0;
    font-size: 30px;
}

.flexed_contents {
    @include flex-row();

    .item {
        flex: 1;
    }
}

.clickable {
    cursor: pointer;
}

.popup-overlay {
    animation: fadeIn 0.2s 1;
    background: rgba(0, 0, 0, 0.8) !important;

    .popup-content {
        animation: bottomToTop 0.8s 1;
    }
}
