@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;400;500;700;800&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Sora', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 1300px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 15px;
}
